.project
.pydevproject
refs
*.pyc
ace/test/*.png
ace/validation/*.png
ace/samples/*.png
*.f
*.so
*.o
*.c
*.doc
*.sh
*~
doc/_build
doc/apidoc
build
dist
ace.egg-info
MANIFEST
.settings*
ace/tests/*.txt
*.swp

